<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../assets/iconos/Pointruck__1_-removebg-preview.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Gilda+Display&display=swap" rel="stylesheet"> 
    
    
    
    <title>Pointrack</title>
</head>
<body>
    <header class="cabecera">
        <div id="inicio">
            <img class="logo" src="../assets/iconos/Pointruck-removebg-preview.png" alt="logo">
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="../views/inicio.html">Inicio</a>
                </li>
                <li class="item">
                    <a href="../views/nosotros.html">Nosotros</a>
                </li>
                <li class="item">
                    <a href="../views/servicios.html">Servicios</a>                     
                        <ul class="submenu">
                            <li class="sub_s"> <a href="../views/servicios.html">Geo localizacion</a></li>
                            <li class="sub_s"> <a href="../views/servicios.html">seguimiento</a></li>
                            <li class="sub_s"> <a href="../views/servicios.html">conexion</a></li>
                        </ul>
                </li>
                <li class="item">
                    <a href="../views/contacto.html">Contacto</a>                    
                </li>
            </ul>
        </nav>
    </header>
    <section class="section1">
        <h2>Conectando necesidades</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum explicabo labore ad esse quia inventore beatae voluptatum natus cum, sunt praesentium asperiores ipsa accusamus tempore, ullam obcaecati molestias et aspernatur.
        Fugiat quia quaerat, consequuntur suscipit laboriosam consectetur, voluptatibus aperiam quod porro et quo nemo cumque sunt minima cum fugit mollitia facere, perspiciatis assumenda. Facilis cum debitis, perferendis eos porro neque!
        Labore quia hic sunt ea iste consequatur sit molestias error quod itaque natus minima totam rem, doloribus laudantium, optio dolorum alias vel debitis voluptate libero voluptates autem dolor ipsam. Ad?
        </p>
        <img src="../assets/img/Sin título14.png" alt="">
    </section>

<footer>
    <h3>Encontranos en:</h3>
    <img class="redes" src="../assets/redes/facebook-logo.png" alt="">
    <img class="redes" src="../assets/redes/twitter (1).png" alt="">
    <img class="redes" src="../assets/redes/whatsapp-logo.png" alt="">
    <img class="redes" src="../assets/redes/youtube (1).png" alt="">
</footer>
    
</body>
</html>